*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
  --bs-font:1.8rem;
  --p-content:20px;
  --w-bar:0%
  /* background-color: #C7BFCC; */
}

.res-font{
  font-size:calc(var(--bs-font) + 0.85vw)
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.back-image{
  background-image: url("/images/vecteezy_people-and-diet-nutrition-plan_\ 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.display-hidden{
  display:none;
}

.display-block{
  display: block;
}
/* .hover-link{
  background-color: blanchedalmond;
  position:relative;
} */
.hover-link::after{
content:"";
position:absolute;
z-index:1;
bottom:-8px;
width:100%;
height:2.5px;
background-color: rgb(54, 145, 249);
opacity:0;
transition: bottom 0.3s ease-in, opacity 0.3s ease-in-out
}

.hover-link:hover::after{
  bottom:-5px;
  opacity:1;
}

/* .up-down{
  position: relative;
}

.up-down::after{
  content
} */

.move{
  padding: 20px 16px;
  margin-top: 0;
  box-shadow: 0;
  border-radius: 0px;
  transition: all 0.25s ease-out;
}
.edit{
  transition: all 0.25s ease-in-out;
}

.card:hover .move{
margin-top: -20px;
padding-bottom: 40px;
border-radius: 18px;
box-shadow: 0px -37px 73px -31px rgb(43, 43, 43);

}

.card:hover .edit{
  top:10px;

}

.trashcolor:hover .icon{
  color:white;
}


.date-element::placeholder{
 color:white;
}

.animated-bar{
  width: var(--w-bar);
  animation: slide 1s ease-in-out ;
}

/* .animated-current{
  margin-left:calc(var(--w-bar)) ;
  transform:translateX(-50%);
  animation: drag 1s ease-in-out
} */

@keyframes slide {
from{
  width:0%
}
to{
  width:var(--w-bar)
}
}

/* @keyframes drag {
from{
  margin-left:0%
}
to{
  margin-left:var(--w-bar);
}
} */